apiVersion: v1
kind: Template
metadata:
  name: launcher-builder
  annotations:
    description: This template creates a Build Configuration using an S2I builder.
    tags: instant-app
parameters:
- name: SOURCE_REPOSITORY_URL
  description: The source URL for the application
  displayName: Source URL
  required: true
- name: SOURCE_REPOSITORY_REF
  description: The branch name for the application
  displayName: Source Branch
  value: master
  required: true
- name: SOURCE_REPOSITORY_DIR
  description: The location within the source repo of the application
  displayName: Source Directory
  value: .
  required: true
- name: GITHUB_WEBHOOK_SECRET
  description: A secret string used to configure the GitHub webhook.
  displayName: GitHub Webhook Secret
  required: true
  from: '[a-zA-Z0-9]{40}'
  generate: expression
objects:
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: integration-tests
    labels:
      booster: integration-tests
  spec: {}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: runtime-integration-tests
    labels:
      booster: integration-tests
  spec:
    tags:
    - name: latest
      from:
        kind: DockerImage
        name: registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift
- apiVersion: v1
  kind: BuildConfig
  metadata:
    name: integration-tests
    labels:
      booster: integration-tests
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: integration-tests:latest
    postCommit: {}
    resources: {}
    source:
      git:
        uri: ${SOURCE_REPOSITORY_URL}
        ref: ${SOURCE_REPOSITORY_REF}
      #contextDir: ${SOURCE_REPOSITORY_DIR}
      type: Git
    strategy:
      sourceStrategy:
        from:
          kind: ImageStreamTag
          name: runtime-integration-tests:latest
        incremental: true
        env:
        - name: MAVEN_ARGS_APPEND
          value: "-pl ${SOURCE_REPOSITORY_DIR}"
        - name: ARTIFACT_DIR
          value: "${SOURCE_REPOSITORY_DIR}/target"
      type: Source
    triggers:
    - github:
        secret: ${GITHUB_WEBHOOK_SECRET}
      type: GitHub
    - type: ConfigChange
    - imageChange: {}
      type: ImageChange
  status:
    lastVersion: 0
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      prometheus.io/scrape: "true"
      prometheus.io/port: "9779"
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/cute-name-service/1-SNAPSHOT/cute-name-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      expose: "true"
      app: cute-name-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: cute-name-service
  spec:
    ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: cute-name-service
      provider: fabric8
      group: io.openshift.booster
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      prometheus.io/scrape: "true"
      prometheus.io/port: "9779"
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/greeting-service/1-SNAPSHOT/greeting-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      expose: "true"
      app: greeting-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: greeting-service
  spec:
    ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: greeting-service
      provider: fabric8
      group: io.openshift.booster
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      fabric8.io/scm-con-url: scm:git:https://github.com/openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
      prometheus.io/port: "9779"
      fabric8.io/scm-url: https://github.com/openshiftio/cache-booster-vertx/integration-tests
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      prometheus.io/scrape: "true"
      fabric8.io/scm-devcon-url: scm:git:git:@github.com:openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
      fabric8.io/scm-tag: booster-parent-20
    labels:
      expose: "true"
      app: integration-tests
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: integration-tests
  spec:
    ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: integration-tests
      provider: fabric8
      group: io.openshift.booster
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=cute-name-service&var-version=1-SNAPSHOT
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/cute-name-service/1-SNAPSHOT/cute-name-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      app: cute-name-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: cute-name-service
  spec:
    replicas: 1
    revisionHistoryLimit: 2
    selector:
      app: cute-name-service
      provider: fabric8
      group: io.openshift.booster
    strategy:
      rollingParams:
        timeoutSeconds: 3600
      type: Rolling
    template:
      metadata:
        annotations:
          fabric8.io/iconUrl: img/icons/vertx.svg
          fabric8.io/git-branch: master
          fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=cute-name-service&var-version=1-SNAPSHOT
        labels:
          app: cute-name-service
          provider: fabric8
          version: 1-SNAPSHOT
          group: io.openshift.booster
      spec:
        containers:
        - env:
          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          image: ' '
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
          name: vertx
          ports:
          - containerPort: 8080
            name: http
            protocol: TCP
          - containerPort: 9779
            name: prometheus
            protocol: TCP
          - containerPort: 8778
            name: jolokia
            protocol: TCP
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
          securityContext:
            privileged: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - vertx
        from:
          kind: ImageStreamTag
          name: cute-name-service:latest
      type: ImageChange
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=greeting-service&var-version=1-SNAPSHOT
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/greeting-service/1-SNAPSHOT/greeting-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      app: greeting-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: greeting-service
  spec:
    replicas: 1
    revisionHistoryLimit: 2
    selector:
      app: greeting-service
      provider: fabric8
      group: io.openshift.booster
    strategy:
      rollingParams:
        timeoutSeconds: 3600
      type: Rolling
    template:
      metadata:
        annotations:
          fabric8.io/iconUrl: img/icons/vertx.svg
          fabric8.io/git-branch: master
          fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=greeting-service&var-version=1-SNAPSHOT
        labels:
          app: greeting-service
          provider: fabric8
          version: 1-SNAPSHOT
          group: io.openshift.booster
      spec:
        containers:
        - env:
          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          image: ' '
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
          name: vertx
          ports:
          - containerPort: 8080
            name: http
            protocol: TCP
          - containerPort: 9779
            name: prometheus
            protocol: TCP
          - containerPort: 8778
            name: jolokia
            protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
          securityContext:
            privileged: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - vertx
        from:
          kind: ImageStreamTag
          name: greeting-service:latest
      type: ImageChange
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=integration-tests&var-version=1-SNAPSHOT
      fabric8.io/scm-con-url: scm:git:https://github.com/openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
      fabric8.io/scm-url: https://github.com/openshiftio/cache-booster-vertx/integration-tests
      fabric8.io/iconUrl: img/icons/vertx.svg
      fabric8.io/git-branch: master
      fabric8.io/scm-devcon-url: scm:git:git:@github.com:openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
      fabric8.io/scm-tag: booster-parent-20
    labels:
      app: integration-tests
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: integration-tests
  spec:
    replicas: 1
    revisionHistoryLimit: 2
    selector:
      app: integration-tests
      provider: fabric8
      group: io.openshift.booster
    strategy:
      rollingParams:
        timeoutSeconds: 3600
      type: Rolling
    template:
      metadata:
        annotations:
          fabric8.io/metrics-path: dashboard/file/kubernetes-pods.json/?var-project=integration-tests&var-version=1-SNAPSHOT
          fabric8.io/scm-con-url: scm:git:https://github.com/openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
          fabric8.io/scm-url: https://github.com/openshiftio/cache-booster-vertx/integration-tests
          fabric8.io/iconUrl: img/icons/vertx.svg
          fabric8.io/git-branch: master
          fabric8.io/scm-devcon-url: scm:git:git:@github.com:openshiftio/booster-parent.git/cache-booster-vertx/integration-tests
          fabric8.io/scm-tag: booster-parent-20
        labels:
          app: integration-tests
          provider: fabric8
          version: 1-SNAPSHOT
          group: io.openshift.booster
      spec:
        containers:
        - env:
          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          image: integration-tests:latest
          imagePullPolicy: IfNotPresent
          name: vertx
          ports:
          - containerPort: 8080
            name: http
            protocol: TCP
          - containerPort: 9779
            name: prometheus
            protocol: TCP
          - containerPort: 8778
            name: jolokia
            protocol: TCP
          securityContext:
            privileged: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - vertx
        from:
          kind: ImageStreamTag
          name: integration-tests:latest
      type: ImageChange
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    annotations:
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/cute-name-service/1-SNAPSHOT/cute-name-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      expose: "true"
      app: cute-name-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: cute-name-service
  spec:
    port:
      targetPort: 8080
    to:
      kind: Service
      name: cute-name-service
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    annotations:
      maven.fabric8.io/source-url: jar:file:/Users/clement/.m2/repository/io/openshift/booster/greeting-service/1-SNAPSHOT/greeting-service-1-SNAPSHOT.jar!/META-INF/fabric8/openshift.yml
    labels:
      expose: "true"
      app: greeting-service
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: greeting-service
  spec:
    port:
      targetPort: 8080
    to:
      kind: Service
      name: greeting-service
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      expose: "true"
      app: integration-tests
      provider: fabric8
      version: 1-SNAPSHOT
      group: io.openshift.booster
    name: integration-tests
  spec:
    port:
      targetPort: 8080
    to:
      kind: Service
      name: integration-tests
